#!/bin/bash

# allow sudo aliases
alias sudo="sudo "

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"
alias ll="ls -la ${colorflag}"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# tools
alias src="source ~/.bash_login"
alias rand="dd if=/dev/urandom bs=512 count=1 2> /dev/null | md5"
alias crand="rand | pbcopy"

# this came from jtaby http://www.slideshare.net/jtaby/tools-and-techniques-for-faster-development slide 94
alias gl="git log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gsup="git pull && git submodule update"
alias gu="git push --set-upstream origin $(git branch | awk '/^\* / { print $2 }') >> /dev/null"


# nodes
alias n='node'
alias nd='node-dev'
alias ndb='node-dev . | bunyan'
alias ndh='node-dev --harmony . '
alias ndhb='node-dev --harmony . | bunyan'
alias nmb='nodemon | bunyan'
alias nb="node . | bunyan"
alias sndb='sudo -E node-dev . | bunyan'
alias nodedocs='wget -pm http://nodejs.org/api/'
alias nrd="npm run debug"

## npm
alias enpm='npm --registry http://registry.npmjs.eu '
alias dpm='npmd'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# colorized cat : #https://github.com/gthank/solarized-dark-pygments
alias c='pygmentize -O style=solarized256 -f console256 -g'

# phone gap aliases
	# for ios (pi = Phonegap iOS)
alias picreate="~/src/phonegap/lib/ios/bin/create"


# databases

alias mysql-start="mysql.server start"
alias mysql-stop="mysql.server stop"


alias mongo-start="mongod --fork --dbpath ~/data/mongodb --logpath ~/tmp/mongodb.log --rest --auth"
alias mongo-noauth="mongod --fork --dbpath ~/data/mongodb --logpath ~/tmp/mongodb.log --rest"
alias mongo-stop="mongo --eval \"db.getSiblingDB('admin').shutdownServer()\""


alias redis-start="redis-server /usr/local/etc/redis.conf 2>&1 > /dev/null &"
alias redis-stop="redis-cli -a $REDIS_AUTH -p 6379 SHUTDOWN"
alias redis="redis-cli -a $REDIS_AUTH -p 6379"

alias postgres-start="postgres -D /usr/local/var/postgres"


# phantomjs
alias p="phantomjs"

# nwjs
alias nw="/Applications/nwjs.app/Contents/MacOS/nwjs"

# mongroup
export MGCONFIG="~/.mongroup"
alias mg="mongroup -c $MGCONFIG"

# Add tab completion for mg
function get_services () {
    COMPREPLY=()
    local services=$(cat $MGCONFIG | grep " = " | cut -d '=' -f 1 | grep -v "logs" | grep -v "pids")
    local cur=${COMP_WORDS[COMP_CWORD]}
    COMPREPLY=( $( compgen -W "$services" -- $cur  ))
    return 0
}
complete -F "get_services" "mg"


# infoz
alias codez="node -p 'require(\"http\").STATUS_CODES' | c"
function status() {
    codez | grep -e "$1"
}

# blink(1) mk2
alias b="blink1-tool"

# docker
alias d="docker"
alias dc="docker-compose"

# aws
alias awshelp="aws help | man2html > awshelp.html && open awshelp.html"

## chrome
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"


## reset camera
alias reset_camera="sudo killall VDCAssistant"


## react-native
alias rn="react-native"
alias rnra="react-native run-android"
alias rnd="adb shell input keyevent 82"
alias rnr="adb reverse tcp:8081 tcp:8081"
