#!/bin/bash

# Git functions
function gc() {
	# commit and set message
	git commit -m "$@"
}

function ga() {
	# add a path
	git add $@
}

function gm() {
	git merge --no-ff $@
}

# https://github.com/holman/spark/wiki/Wicked-Cool-Usage
# Histogram of commits throughout the day by author
function gg() {
	git log --pretty=format:'%an: %at' --author="$@" |
    awk '{system("date -r "$NF" '+%H'")}' |
    sort |
    uniq -c |
    ruby -e 'puts STDIN.readlines.inject(Hash[Array("00".."23").map{|x| [x,0]}]) {|h, x| h.merge(Hash[*x.split(" ").reverse])}.sort.map(&:last)' |
    spark
}

# https://github.com/holman/spark/wiki/Wicked-Cool-Usage
# git commits for the last two weeks
function g2w() {
	for day in $(seq 14 -1 0); do
    	git log --before="${day} days" --after="$[${day}+1] days" --format=oneline |
    wc -l
	done | spark
}

# today's activity
function gt() {
	for hour in $(seq 8 -1 0); do 
    	git log --author "$@" --before="${hour} hours" --after="$[${hour}+1] hours" --format=oneline | 
    	wc -l;
	done | spark
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
	local port="${1:-8888}"
	open "http://localhost:${port}/"
	# Set the default Content-Type to `text/plain` instead of `application/octet-stream`
	# And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
	python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
}


function sms() {
	echo "$@" | mail 9373079375@vtext.com
}


# start weinre and accept a port 
function weinre() {
	local host="${1:-8888}"
	node /usr/local/lib/node_modules/weinre/weinre --boundHost=$host
}

# move image to dropbox www_img
function mi() {
	mv "$@" ~/Dropbox/www_img/.
}


