#!/bin/bash

# Git functions
function gc() {
	# commit and set message
	git commit -m "$@"
}

function ga() {
	# add a path
	git add $@
}

function gm() {
	git merge --no-ff $@
}

# https://github.com/holman/spark/wiki/Wicked-Cool-Usage
# Histogram of commits throughout the day by author
function gg() {
	git log --pretty=format:'%an: %at' --author="$@" |
    awk '{system("date -r "$NF" '+%H'")}' |
    sort |
    uniq -c |
    ruby -e 'puts STDIN.readlines.inject(Hash[Array("00".."23").map{|x| [x,0]}]) {|h, x| h.merge(Hash[*x.split(" ").reverse])}.sort.map(&:last)' |
    spark
}

# https://github.com/holman/spark/wiki/Wicked-Cool-Usage
# git commits for the last two weeks
function g2w() {
	for day in $(seq 14 -1 0); do
    	git log --before="${day} days" --after="$[${day}+1] days" --format=oneline |
    wc -l
	done | spark
}

# today's activity
function gt() {
	for hour in $(seq 8 -1 0); do 
    	git log --author "$@" --before="${hour} hours" --after="$[${hour}+1] hours" --format=oneline | 
    	wc -l;
	done | spark
}

function gct() {
    now=`date +%s`
    last_commit=`git log --pretty=format:'%at' -1`
    seconds_since_last_commit=$((now-last_commit))
    minutes_since_last_commit=$((seconds_since_last_commit/60))
    echo $minutes_since_last_commit "minutes"
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
	local port="${1:-8888}"
	open "http://localhost:${port}/"
	# Set the default Content-Type to `text/plain` instead of `application/octet-stream`
	# And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
	python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
}


function sms() {
	echo "$@" | mail 9373079375@vtext.com
}


# start weinre and accept a port 
function weinre() {
	local host="${1:-8888}"
	node /usr/local/lib/node_modules/weinre/weinre --boundHost=$host
}

# scp the image up to my server in the sky
function mi() {
    scp "$@" sonlite:/home/sonlite/webapps/www_img/.
    rm "$@"
}

function mi-dir() {
    ssh sonlite mkdir -p /home/sonlite/webapps/www_img/$@
    scp -r "$@" sonlite:/home/sonlite/webapps/www_img/$@
}


# hex to decimal
function h2d() {
  echo "ibase=16; $@"|bc
}

# decimal to hex 
function d2h() {
  echo "obase=16; $@"|bc
}


# resolve SSH hostname entries to IP addresses
function resolve() {
    #cat /etc/hosts | grep $@
    #cat ~/.ssh/config | grep $@
    linenum=`grep -n $@ ~/.ssh/config |cut -f1 -d:`
    linenum=$((linenum+1))
    echo `sed -n ${linenum}p ~/.ssh/config`
}

# discover IP addresses to SSH hostnames
function discover() {
    #cat /etc/hosts | grep $@
    #cat ~/.ssh/config | grep $@
    linenum=`grep -n $@ ~/.ssh/config |cut -f1 -d:`
    linenum=$((linenum-1))
    echo `sed -n ${linenum}p ~/.ssh/config`
}


function new_term() { 
    TERM_PATH=`pwd`

    if [ $# -eq 1 ]; then
        NEW_CMD=$1
    else
        NEW_CMD="clear"
    fi

    export TERM_PATH
    export NEW_CMD

    bash -c '
    /usr/bin/osascript <<EOF
    activate application "Terminal"
    tell application "System Events"
        keystroke "t" using {command down}
    end tell
    tell application "Terminal"
        repeat with win in windows
            try
                if get frontmost of win is true then
                    do script "cd $TERM_PATH; $NEW_CMD;" in (selected tab of win)
                end if
            end try
        end repeat
    end tell
EOF' 2>&1 >> /dev/null
}

function dev() {

    if [ $# -eq 1 ]; then
        _z 2>&1 $1
    fi

    dev_conf=`pwd`/.dev
    if [ ! -f $dev_conf ]; then
        echo "no devconf found"
        commands=("node-dev . | bunyan" "git pull && git status && subl .")
    else 
        commands=$(cat dev_conf)
    fi

    for ix in ${!commands[*]}; do
        cmd=${commands[ix]}
        echo $cmd
        new_term "$cmd"
    done
}


function trust() {

    CERT=/tmp/certfile.txt
    REMHOST=$1          # Host to pull cert from
    REMPORT=${2:-443}   # Set default of 443

    if [ -z "$1" ]; then
        echo "Domain must be specified"
        return 1;
    fi
     
    exec 6>&1           # Link file descriptor #6 with stdout.
    exec > $CERT        # stdout replaced with file
     
    # All output from commands in this block sent to file $CERT
    echo | openssl s_client -connect ${REMHOST}:${REMPORT} 2>&1 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p'
     
    # ----------------------------------------------------------- #
     
    exec 1>&6 6>&-      # Restore stdout and close file descriptor #6.
    certutil -d sql:$HOME/.pki/nssdb -A -t TC -n "$REMHOST" -i $CERT
    echo
    echo "== Certificate for $REMHOST added == "
    rm $CERT
    # exit 0
}

